@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
  --text-color: #7b5f43;
  --main-color: #f3e5d8;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
  overflow-x: hidden;
}
button{
cursor: pointer;
}
header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: white;
}
li{
  list-style-type: none;
}
.fa-bars, .mobile-menu{
  display: none;
}
.fa-bars{
  position: absolute;
  right: 15px;
  bottom: 7px;
  font-size: 40px;
  display: none;
  cursor: pointer;
  color: var(--main-color);
}
.top-bar{
  color: var(--text-color);
  background-color: var(--main-color);
  width: 55%;
  margin-left: auto;
  padding: 5px 5px 5px 50px;
  transform: skewX(30deg);
  position: absolute;
  right: -20px;
  top:0px;
  height: 52px;
}

.top-bar-inner{
  display: flex;
  align-items: center;
  transform: skewX(-30deg);
}
.top-bar input{
  border: 2px solid white;
  border-radius: 15px;
  padding: 3px 5px;
  color: var(--text-color);
  width: 100%;
  max-width: 150px;
  margin-right: 10px;
}

.top-bar input::placeholder{
  color: var(--text-color);
  padding-top: 2px;
  padding-left: 10px;
  font-weight: bold;
}
.top-bar ul{
  display: flex;
  padding-top: 5px;
}
.top-bar ul li{
  list-style-type: none;
  color: var(--text-color);
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
}
nav{
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-logo{
  padding-right: 33px;
  padding-top: 13px;
  width: 20%;
}
.logo{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}
.nav-menu .menu{
  display: flex;
  position: relative;
  left: 5%;
  margin-top: 60px;
}
.f-color{
  padding: 0px 20px;
  list-style: none;
  color: black;
  text-decoration: none;
}
.menu-inner{
  text-decoration: none;
  font-weight: lighter;
  color: black;
}
.dropdown{
  background-color: white;
  position: absolute;
  bottom: -410px;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--main-color);
  width: 130%;
  padding: 20px;
  display: flex; 
  border-radius: 5px;
  display: none;

}

.menu li:hover> .dropdown{
  display: flex;
}
.menu li a:hover{
  color: var(--text-color);
}
.dropdown-left, .dropdown-right{
  margin-left: 60px;
}
.dropdown ul li i{
  position: relative;
  top: 3px;
  left: 5px;
  background-color: var(--main-color);
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 3px;
}

.dropdown li{
  margin-bottom: 17px;
}

.menu-content{
  margin-left: 20px;
}
header.addshadow{
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0,0.5);
}






    /* Slider */
#slider{
  position: relative;
  top: 99px;
  width: 100%;
}
.slider-content-1{
  position: absolute;
  top: 72%;
  left: 10%;
  display: flex;
  /* flex-direction: row; */
}
.btn-slide1{
  letter-spacing: -0.5px;
  font-size: 14px;
  height: 30px;
  border-radius: 20px;
  padding: 0 25%;
  margin-right: 10%;
  background-color: #b43d40;
  color: white;
}

.btn-slide2{
  background-color: #d99a3d;
  font-weight: bold;
  position: absolute;
  letter-spacing: -0.5px;
  top: 55%;
  left: 10%;
  padding: 1% 3%;
  border-radius: 18px;
}
.btn-slide3{
  background-color: var(--text-color);
  position: absolute;
  color: white;
  letter-spacing: -0.7px;
  top: 67%;
  left: 10%;
  padding: 0.7% 3%;
  border: none;
  border-radius: 15px;
}
.btn-slide4{
  background-color: #ffb500;
  position: absolute;
  font-weight: bold;
  top: 81%;
  left: 41%;
  border: none;
  padding: 0.5% 4%;
  border-radius: 20px;
  letter-spacing: -1px;
  cursor: pointer;
}
.btn-slide5{
  background-color: #0972f5;
  position: absolute;
  color: white;
  top: 65%;
  left: 37%;
  border: none;
  border-radius: 20px;
  padding: 5px 38px;
  letter-spacing: -0.5px;
  font-weight: bold;
}



/* Connect Section */
.isccm-connect{
  padding-top: 135px;
  padding-bottom: 45px;
  background-color: var(--main-color);
}
.isccm-connect img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.connect-inner span{
  color: var(--text-color);
  font-weight: bolder;
  font-size: 20px;
  margin-right: 15px;
}
.connect-inner  input{
  border: none;
  height: 40px;
  width: 250px;
  margin-right: 30px;
}
.connect-inner input::placeholder{
  font-size: 13px;
  padding-left: 7px;
}
.connect-btn{
  border: none;
  height: 40px;
  width: 150px;
  background-color: var(--text-color);
  color: white;
  font-weight: bold;
  border-radius: 20px;
}


/* about section */
.about{
  background-image: url("../images/Layer 29.png"); 
  background-repeat: no-repeat;
  height: 627px;
}

.about .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 50px;
    height: 627px;
    background-image: url("../images/Layer 3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about .left h2{
    font-size: 30px;
    padding: 0px!important;
    margin: 0px!important;
}

.about .left span{
    font-size: 20px;
    padding: 0px!important;
}

.about .left p{
    margin-top: 40px;
    font-size: 18px;
    color: #535252;
}

.about .left button{
    width: 155px;
    color: white;
    font-weight: bold;
    background-color: var(--text-color);
    font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 13px 44px 15px 36px;
    cursor: pointer;
    margin-top: 10px;
}

.about .right{
    height: 627px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.about .right>div{
    margin-bottom: 10px;
}

.about .right span{
    display: block;
}

.about .right .roundshape{
    width: 123px;
    height: 123px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

.about .right .roundshape{
    /* max-width: 280px; */
    background-color: var(--main-color);
    color: var(--text-color);
}



.about .right a{
    color: #4c4c4c;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.round-number{
  font-weight: bolder;
}



/* Events section */
.event-content-left{
  /* margin-left: 105px; */
  margin-top: 75px;
}
.event-content-left div:nth-child(1) p:nth-child(1){
  font-weight: bolder;
  font-size: 30px;
}
.event-content-left div:nth-child(1) p:nth-child(2){
  color: #5a5858;
}
.event-btn{
  border: none;
  background-color: var(--text-color);
  color: white;
  letter-spacing: -0.5px;
  width: 155px;
  height: 42px;
  border-radius: 20px;
  font-weight: bolder;
  margin-left: 160px;
  margin-top: 48px;
}
.event-img{
  margin-top: 79px;
}

.event-boxes{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* width: 80%; */
}
.ebox{
  width: 70em;
  height: 100px;
  border: 1px solid #c8c8c8;
  margin:10px auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 2px 5px 5px 0px #a39b90;

}
.box-img{
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  margin-left: 5%;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  margin-right: 5%;
}
.ebox .box-text p:nth-child(1){
  /* font-weight: bold; */
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 18px;
}
.ebox .box-text p:nth-child(2){
  /* font-weight: bold; */
  
  color: #2f2f2f;
}
.from-isccm{
  margin-top: 50px;
}
.from-isccm p:nth-child(1){
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.from-isccm p:nth-child(2){
  max-width: 650px;
}
.card{
  margin-top: 20px;
  /* height: 450px; */
}
.gallery-column .card .card-header{
 
  width: 100%;
  height: 163px;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-column .card .card-header-1{
  background-image: url('../images/Layer 4.svg');
}
.gallery-column .card .card-header-2{
  background-image: url('../images/Layer 5.svg');
}
.gallery-column .card .card-header-3{
  background-image: url('../images/Layer 7.svg');
}
.gallery-column .card .card-header-4{
  background-image: url('../images/Layer 7.svg');
}
.gallery-column .card .card-header-5{
  background-image: url('../images/Layer 5.svg');
}
.gallery-column .card .card-header-6{
  background-image: url('../images/Layer 4.svg');
}
.card{
  box-shadow: 2px 5px 5px 0px #a39b90;
}
.card-body h2{
  font-size: 13px;
  font-weight: bolder;
}
.card-body p:nth-child(2){
  font-size: 19px;
  color: #5a5959;
}
.card-body p:nth-child(3){
  font-size: 12px;
  color: #5a5959;
}
.btn-card{
  letter-spacing: -0.5px;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: var(--text-color);
  font-size: 13px;
  color: white;
}
.link img{
  margin-left: 40%;
  margin-top: 12%;
  transition: width 1s;
}
.link img:hover{
  width: 70px;
}


/* Initiatives */
.initiatives{
  background-color: #ededed;
  margin-top: 100px;
  padding-top: 70px;
}
.initiatives-content h2{
  font-weight: bolder;
  color: black;
}
.initiatives-content p{
  max-width: 650px;
  padding-top: 5px;
  color: #595858;
  font-size: 16px;
}
.initiative-boxes-parent{
  display: flex;
  justify-content: center;
}
.initiative-boxes{
  display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 15px;
   /* grid-template-rows: repeat(3, 100px); */
   margin-bottom: 50px;
}
.initiative-column{
  width: 230px;
}
.initiative-column .card .card-header{
  background-color: white;
  border: none;
}










.notice{
  margin-top: 50px;
}
.notice h2{
  font-weight: bolder;
  font-size: 35px;
  color: black;
}
.notice-content{
  display: flex;
  margin-top: 40px;
}
.notice-items{
  display: flex;
  margin-bottom: 30px;
}
.notice-items .notice-text p{
  font-size: 11px;
  max-width: 500px;
  margin-left: 30px;
  color: black;
  font-weight: bold;
}
.notice-college{
  margin-left: 60px;
}
.notice-items img{
  margin-bottom: 15px;
}
.notice-text a{
  position: relative;
    left: 32px;
    bottom: 10px;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: bolder;
}





/* footer */
.copyright{
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 2px 5px 5px 0px #a39b90;
}
.footer-text{
  background-color: #404040;
  color: white;
  margin-bottom: -15px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  font-size: 14px;
}
.footer-text>p:nth-child(1){
  /* font-size: 10px; */
  max-width: 400px;
  /* margin-right: 10%; */
}
.footer-about{
  max-width: 170px;
  /* margin-right: 10em; */
  min-width: 132px;
}
.footer-about>p:nth-child(1), .footer-content>p:nth-child(1){
  font-weight: bolder;
  font-size: 17px;
}
.footer-content{
  max-width: 287px;
}

















/* Responsive */
@media(max-width:1200px){
  .about .right div:nth-child(1) .roundshape{
    width: 133px !important;
  }
  .about .right div:nth-child(2) .roundshape{
    width: 133px !important;
  }
  .about .right div:nth-child(3) .roundshape{
    width: 205px !important;
  }
  .about .right div:nth-child(4) .roundshape{
    width:  205px !important;
  }
  .about .left{
    right: 0px;
  }
  .ebox{
    width:58em;
  }
}

@media(max-width:992px){
  .fa-bars{
      display: block;
  }
 .f-color{
   color: var(--text-color);
 }
  header .top-bar{
      width: 60%;
  }

  .nav-menu .menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    left: 0;
    top: 41px;
    bottom: 0;
    box-shadow: 2px 5px 5px 0px #a39b90;
    overflow-y: scroll;
    width: 300px;
    transition: 0.5s;
    transform: translateX(-100%);
    
  }
  .nav-menu .menu li{
    color: var(--text-color);
  }
  nav .menu::-webkit-scrollbar{
    visibility: hidden;
    width: 5px;

}

nav .menu::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: rgb(187, 187, 187);
}

  .menu.show{
    transform: translateX(0%);
}
  .nav-menu .menu li {
    padding: 0px 10px;
    margin: 5px;
}
.menu .dropdown{
  position: static;
  flex-direction: column;
  width: 100%;
  transform: translateX(0%);
  border: none;
  
}
.menu-content li{
  padding-bottom: 0px;
}
.dropdown-left, .dropdown-right{
  margin-left: -20px;
}
.menu li a:hover{
  color: black;
}
.connect-inner{
  flex-direction: column;
}

.isccm-connect input{
  width: 100%;
  max-width:2000px;
  margin: 10px 0px;
}

.isccm-connect button{
  margin: 20px auto 2px 34%;
}
.about{
  background-size: 150% 90%;
}
.event-content{
  width: 100%;
  position: relative;
    margin-top: 65%;
    /* margin-left: 139px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.event-btn{
  margin-left: 0;
}
.about .right div:nth-child(3) .roundshape{
  width: 133px !important;
}
.about .right div:nth-child(4) .roundshape{
  width:  133px !important;
}
.ebox{
  width: 43em;
}
.notice-content{
  display: flex;
  flex-direction: column;
}
.notice-college{
  margin-left: 0;
}

}

@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 
  .about .right div:nth-child(2) .roundshape{
    width: 133px !important;
  }
  .about .right div:nth-child(3) .roundshape{
    width: 133px !important;
  }
  .about .right div:nth-child(4) .roundshape{
    width: 133px !important;
  }
}


@media(max-width:775px){
  header .top-bar{
      width: 80%;
  }
}
  @media(max-width:768px){
    .about .right div:nth-child(3) .roundshape{
      width: 190px !important;
    }
    .about .right div:nth-child(4) .roundshape{
      width: 190px !important;
    }
    .event-content{
      margin-top: 70%;
    }
    .ebox{
      width: 32em;
    }
    .footer-text{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 20px;
    }
 
}
@media(max-width:726px){
  .event-content{
    margin-top: 85%;
  }
}
@media(max-width:580px){
  .event-content{
    margin-top: 90%;
  }
}
@media(max-width:570px){
  .mobile-menu{
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-color);
    /* padding: 10px 0; */
    position: relative;
     font-weight: bold;
    padding-left: 20px;
  border-width: 190%;
  }
  header .top-bar ul{
    display: none;
 }
 header .top-bar input{
  width: 160%;
  max-width: 176%;
  margin-left: auto;
  /* margin-left: 50%; */
  
 }
}


@media(max-width:546px){
  header .top-bar input{
    width: 80vw;
    max-width: 58vw;
    /* margin-left: 20%; */
}
.nav-logo{
  padding-right: 0px;
}
.btn-slide4{
  top: 80%;
  left: 35%;
  padding: 0 4%;
}
.isccm-connect button{
  margin-left: 30%;
}
.about .right>div{
  flex-direction: column; 
}
.about .right{
  margin-top: 15%;
}

.about .right div div:nth-child(2){
  /* max-width:1000px; */
  text-align: center;
  margin-left: 0px !important;
}
.about .right div:nth-child(2) .roundshape{
  width: 133px !important;
}
.about .right div:nth-child(3) .roundshape{
  width: 133px !important;
}
.about .right div:nth-child(4) .roundshape{
  width: 133px !important;
}
.event-content{
  margin-top: 50em;
}
.ebox{
  width: 93%;
  display: flex;
  flex-direction: column;
  height: 150px;
}
.ebox .box-text p:nth-child(2){
  text-align: center;
}
.box-img{
  margin-top: 5px;
}
}
